@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@plugin "daisyui";

/* #homeApp {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

@theme static {
  --color-primary: #b8462f;
  --color-secondary: #5a5a5a;
}

:root {
  --ui-color-primary-500: #b8462f;
}

@layer components {
  .ctv-border {
    @apply border-4 border-primary;
  }

  .ctv-btn {
    @apply font-light btn bg-primary ring-0 drop-shadow-none border-primary text-white hover:bg-white hover:text-primary hover:border-primary uppercase md:px-14 md:py-8 px-10 py-4 tracking-wider;
  }

  .ctv-img-overlay {
    @apply absolute inset-0 bg-black opacity-25;
  }
}

@layer base {
  h2,
  h3 {
    @apply uppercase;
  }

  h2,
  p {
    @apply text-secondary;
  }

  p {
    @apply lg:leading-10 lg:text-3xl text-xl font-thin tracking-wider dark:text-white text-secondary;
  }

  main {
    @apply mt-10 min-h-screen;
  }
}

.swiper-button-prev,
.swiper-button-next {
  @apply md:flex hidden drop-shadow-2xl text-primary bg-white/50 hover:bg-white/100 rounded-full p-8 hover:ring-primary hover:ring-2;
}
.swiper-button-next {
  @apply mr-10;
}
.swiper-button-prev {
  @apply ml-10;
}

.swiper-pagination-bullet {
  @apply md:size-5 bg-primary ring-1 ring-white;
}

.ctv-container {
  @apply container mx-20;
}
